In [100]:
import bayeslite
from bayeslite.read_pandas import bayesdb_read_pandas_df
import bdbcontrib
from bdbcontrib import cursor_to_df as df
from bdbcontrib.recipes import quickstart
import pandas as pd
import numpy
import re
import matplotlib
from matplotlib import ft2font
import matplotlib.pyplot as plt
%matplotlib inline
from bdbcontrib.recipes import quickstart
import crosscat
import crosscat.MultiprocessingEngine as ccme
import bayeslite.metamodels.crosscat
import os

In [101]:
import pandas as pd
import crosscat
from bdbcontrib.recipes import quickstart
import bayeslite
from bayeslite.read_pandas import bayesdb_read_pandas_df

In [61]:
DATA = pd.read_csv("Most+Recent+Cohorts+(All+Data+Elements).csv", delimiter=',', low_memory = False)
DATA = DATA.replace('PrivacySuppressed', '-1')
#Restricting the dataframe to 57 variables of interest
df =DATA.loc[:,['OPEID','PFTFAC','UGDS','CCUGPROF','CCBASIC','locale2','region','st_fips','ACTCM75','ACTCMMID','ACTCM25','SAT_AVG_ALL','SATWR75','SATWRMID','SATWR25','SATMT75','SATMTMID','SATMT25','SATVR75','SATVRMID','SATVR25','ADM_RATE_ALL','WOMENONLY','MENONLY','AANAPII','PBI','md_earn_wne_p10','mn_earn_wne_p10','md_faminc','faminc','TUITIONFEE_PROG','AVGFACSAL','PCTPELL','IND_DEBT_MDN','HI_INC_DEBT_MDN','MD_INC_DEBT_MDN','LO_INC_DEBT_MDN','WDRAW_DEBT_MDN','GRAD_DEBT_MDN','MD_INC_RPY_5YR_RT','NOLOAN_COMP_ORIG_YR2','LOAN_COMP_ORIG_YR2','NOPELL_COMP_ORIG_YR2','PELL_COMP_ORIG_YR2','HI_INC_COMP_ORIG_Y','MD_INC_COMP_ORIG_Y','LO_INC_COMP_ORIG_Y','DEATH_YR2_RT','NOLOAN_ENRL_ORIG_YR','NOLOAN_DEATH_YR2_RT','LOAN_DEATH_YR2_RT','NOPELL_DEATH_YR2_RT','PELL_DEATH_YR2_RT','HI_INC_DEATH_YR2_R','MD_INC_DEATH_YR2_R','LO_INC_DEATH_YR2_R','DEP_DEBT_MDN']] 
#Renaming the variables names by their definition
df.columns = ['8-digit OPE ID for institution','Faculty Rate','Enrollment of undergraduate degree-seeking students','Carnegie Classification -- undergraduate profile','Carnegie Classification -- basic','Degree of urbanization of institution','Region (IPEDS)','FIPS code for state','75th percentile of the ACT cumulative score','Midpoint of the ACT cumulative score','25th percentile of the ACT cumulative score','Average SAT equivalent score of students admitted for all campuses rolled up to the 6-digit OPE ID','75th percentile of SAT scores at the institution (writing)','Midpoint of SAT scores at the institution (writing)','25th percentile of SAT scores at the institution (writing)','75th percentile of SAT scores at the institution (math)','Midpoint of SAT scores at the institution (math)','25th percentile of SAT scores at the institution (math)','75th percentile of SAT scores at the institution (critical reading)','Midpoint of SAT scores at the institution (critical reading)','25th percentile of SAT scores at the institution (critical reading)','Admission rate for all campuses rolled up to the 6-digit OPE ID','Flag for women-only college','Flag for men-only college','Flag for Asian American Native American Pacific Islander-serving institution','Flag for predominantly black institution','Median earnings of students working and not enrolled 10 years after entry','Mean earnings of students working and not enrolled 10 years after entry','Median family income','Average family income','TUITIONFEE_PROG','Average faculty salary','Percentage of Pell Grant','The median debt for independent students','The median debt for students with family income between over 75k','The median debt for students with family income between $30k and 75k','The median debt for students with family income between $0 and 30k','The median debt for students who have not completed','The median debt for students who have completed','Five-year repayment rate by family income ($30k-75k)','Percent of students who never received a federal loan at the institution and who were still enrolled at original institution within 2 years','Percent of students who received a federal loan at the institution and who completed in 2 years ','Percent of students who did not receive a Pell Grant at the institution and who completed in 2 years at original ','Percent of students who received a Pell Grant at the institution and who completed in 2 years at original ','Percent of high-income (over in nominal family income) students who died within a year','Percent of middle-income (between $30k and 75k in nominal family income) students who died within a year','Percent of female students who transferred to a 2-year institution and whose status is unknown within 8 years','Percent died within 2 years at original institution','Percent of students who never received a federal loan at the institution and who were still enrolled at original institution within a year','Percent of students who never received a federal loan at the institution and who died within 2 years at original institution','Percent of students who received a federal loan at the institution and who died within 2 years at original institution','Percent of students who never received a Pell Grant at the institution and who died within 2 years at original institution','Percent of students who received a Pell Grant at the institution and who died within 2 years at original institution','Percent of high income (more than 75k in nominal family income) students who died within 2 years','Percent of middle-income (between $30k and 75k in nominal family income) students who died within 2 years','Percent of low income (between 0 and 30k in nominal family income) students who died within 2 years','The median debt for dependent students']
df = df.iloc[:,:]

In [99]:
DATA = pd.read_csv("Most+Recent+Cohorts+(All+Data+Elements).csv", delimiter=',', low_memory = False)
DATA = DATA.replace('PrivacySuppressed', '-1')
#Restricting the dataframe to 57 variables of interest
data =DATA.loc[:,['INSTNM','OPEID','UGDS','ADM_RATE_ALL','faminc','TUITIONFEE_PROG','DEP_DEBT_MDN']] 
data = data.set_index(['INSTNM'])
#Renaming the variables names by their definition
data.columns = ['8-digit OPE ID for institution','Enrollment of undergraduate degree-seeking students',
                'Admission rate for all campuses rolled up to the 6-digit OPE ID', 'Average family income',
                'TUITIONFEE_PROG','The median debt for dependent students']
data = data.iloc[:,:]

In [71]:
bdb = bayeslite.bayesdb_open("sim.bdb")

In [72]:
bdb = bayeslite.bayesdb_open("similarities.bdb")

In [68]:
bayesdb_read_pandas_df(bdb, "df", data, create=True)

In [63]:
# Link your dataframe to your bdb file
bayesdb_read_pandas_df(bdb, "simi", df, create=True)

In [73]:
# Load the education dataset into a local instance of bayeslite
ed = quickstart(name='df', bdb_path='sim.bdb')
q = ed.q

BQL [SELECT COUNT(*) FROM "df"] [()]
BQL [
        CREATE GENERATOR "df_cc" IF NOT EXISTS FOR "df" USING crosscat( GUESS(*) )] [()]

In [64]:
# Load the education dataset into a local instance of bayeslite
ed = quickstart(name='simi', bdb_path='similarities.bdb')
q = ed.q

BQL [SELECT COUNT(*) FROM "simi"] [()]
BQL [
        CREATE GENERATOR "simi_cc" IF NOT EXISTS FOR "simi" USING crosscat( GUESS(*) )] [()]

In [74]:
ed.analysis_status()

BQL [SELECT iterations FROM bayesdb_generator_model
                           WHERE generator_id = (
                            SELECT id FROM bayesdb_generator WHERE name = ?)] [('df_cc',)]

Empty DataFrame
Columns: [count of models]
Index: []

In [75]:
ed.analyze(models = 4, iterations=10)

BQL [INITIALIZE 4 MODELS IF NOT EXISTS FOR df_cc] [()]
BQL [ANALYZE df_cc FOR 10 ITERATIONS CHECKPOINT 1 ITERATION WAIT] [()]
BQL [SELECT iterations FROM bayesdb_generator_model
                           WHERE generator_id = (
                            SELECT id FROM bayesdb_generator WHERE name = ?)] [('df_cc',)]

            count of models
iterations
10                        4

Similarity of all the schools with respect to size

In [51]:
q('''
ESTIMATE SIMILARITY WITH RESPECT TO "Enrollment of undergraduate degree-seeking students" FROM PAIRWISE %g
''')

ERROR:
Traceback (most recent call last):

  File "/Applications/Bayeslite-v0.1.7.app/Contents/MacOS/venv/lib/python2.7/site-packages/bdbcontrib/recipes.py", line 153, in query
    df = bdbcontrib.cursor_to_df(res)

  File "/Applications/Bayeslite-v0.1.7.app/Contents/MacOS/venv/lib/python2.7/site-packages/bdbcontrib/bql_utils.py", line 104, in cursor_to_df
    df = pd.DataFrame.from_records(cursor, coerce_float=True)

  File "/Applications/Bayeslite-v0.1.7.app/Contents/MacOS/venv/lib/python2.7/site-packages/pandas/core/frame.py", line 938, in from_records
    values += data

  File "/Applications/Bayeslite-v0.1.7.app/Contents/MacOS/venv/lib/python2.7/site-packages/bayeslite/bql.py", line 678, in next
    return self._cursor.next()

  File "src/connection.c", line 2021, in user-defined-scalar-bql_row_similarity

  File "/Applications/Bayeslite-v0.1.7.app/Contents/MacOS/venv/lib/python2.7/site-packages/bayeslite/bqlfn.py", line 34, in <lambda>
    db.createscalarfunction(name, (lambda *args: fn(cookie, *args)), nargs)

  File "/Applications/Bayeslite-v0.1.7.app/Contents/MacOS/venv/lib/python2.7/site-packages/bayeslite/bqlfn.py", line 329, in bql_row_similarity
    target_rowid, colnos)

  File "/Applications/Bayeslite-v0.1.7.app/Contents/MacOS/venv/lib/python2.7/site-packages/bayeslite/metamodels/crosscat.py", line 1080, in row_similarity
    X_L_list, X_D_list)

  File "/Applications/Bayeslite-v0.1.7.app/Contents/MacOS/venv/lib/python2.7/site-packages/bayeslite/metamodels/crosscat.py", line 364, in _crosscat_get_rows
    index[rowid] = set([i])

KeyboardInterrupt

ERROR:

BQL [
ESTIMATE SIMILARITY WITH RESPECT TO "Enrollment of undergraduate degree-seeking students" FROM PAIRWISE "sim_cc"
] [()]

An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 0))

KeyboardInterrupt:

In [85]:
q('''
select * from df where ("8-digit OPE ID for institution" = "00215500") ''')

BQL [
select * from df where ("8-digit OPE ID for institution" = "00215500") ] [()]

,8-digit OPE ID for institution,Enrollment of undergraduate degree-seeking students,Admission rate for all campuses rolled up to the 6-digit OPE ID,Average family income,TUITIONFEE_PROG,The median debt for dependent students
0,215500,7278,0.0584,60645.79,NaN,6500

In [ ]:
q('''
Estimate SIMILARITY WITH RESPECT TO (list of variable comma separated) FROM PAIRWISE ROWS OF df''')

Similarity of the schools to MIT with respect to several variables

"Enrollment of undergraduate degree-seeking students","Admission rate for all campuses rolled up to the 6-digit OPE ID", "Average family income", "The median debt for dependent students"

In [82]:
q(''' 
ESTIMATE SIMILARITY TO ("8-digit OPE ID for institution" = "00217800") WITH RESPECT TO 
("Enrollment of undergraduate degree-seeking students",
                "Admission rate for all campuses rolled up to the 6-digit OPE ID", "Average family income",
                "TUITIONFEE_PROG","The median debt for dependent students")
FROM %g''')

BQL [
ESTIMATE SIMILARITY TO ("8-digit OPE ID for institution" = "00217800") WITH RESPECT TO
("Enrollment of undergraduate degree-seeking students",
                "Admission rate for all campuses rolled up to the 6-digit OPE ID", "Average family income",
                "TUITIONFEE_PROG","The median debt for dependent students")
FROM "df_cc"] [()]

      bql_row_similarity(1, NULL, _rowid_, (SELECT _rowid_ FROM "df" WHERE ("8-digit OPE ID for institution" = "00217800")), 1, 2, 3, 4, 5)
0                                                  0.25
1                                                  0.30
2                                                  0.00
3                                                  0.20
4                                                  0.20
5                                                  0.00
6                                                  0.00
7                                                  0.00
8                                                  0.20
9                                                  0.20
10                                                 0.90
11                                                 0.00
12                                                 0.00
13                                                 0.05
14                                                 0.00
15                                                 0.20
16                                                 0.00
17                                                 0.20
18                                                 0.05
19                                                 0.25
20                                                 0.20
21                                                 0.00
22                                                 0.05
23                                                 0.00
24                                                 0.00
25                                                 0.00
26                                                 0.20
27                                                 0.00
28                                                 0.25
29                                                 0.20
...                                                 ...
7774                                               0.05
7775                                               0.20
7776                                               0.00
7777                                               0.20
7778                                               0.05
7779                                               0.25
7780                                               0.20
7781                                               0.05
7782                                               0.00
7783                                               0.00
7784                                               0.20
7785                                               0.20
7786                                               0.25
7787                                               0.20
7788                                               0.00
7789                                               0.00
7790                                               0.00
7791                                               0.00
7792                                               0.05
7793                                               0.40
7794                                               0.30
7795                                               0.00
7796                                               0.00
7797                                               0.00
7798                                               0.00
7799                                               0.20
7800                                               0.00
7801                                               0.05
7802                                               0.20
7803                                               0.25

[7804 rows x 1 columns]

Similarity between MIT and Harvard with respect to several variables

In [86]:
q('''
ESTIMATE SIMILARITY TO ("8-digit OPE ID for institution" = "00217800")
WITH RESPECT TO
("Enrollment of undergraduate degree-seeking students",
                "Admission rate for all campuses rolled up to the 6-digit OPE ID", "Average family income",
                "TUITIONFEE_PROG","The median debt for dependent students")
FROM %g WHERE ("8-digit OPE ID for institution" = "00215500")''')

BQL [
ESTIMATE SIMILARITY TO ("8-digit OPE ID for institution" = "00217800")
WITH RESPECT TO
("Enrollment of undergraduate degree-seeking students",
                "Admission rate for all campuses rolled up to the 6-digit OPE ID", "Average family income",
                "TUITIONFEE_PROG","The median debt for dependent students")
FROM "df_cc" WHERE ("8-digit OPE ID for institution" = "00215500")] [()]

   bql_row_similarity(1, NULL, _rowid_, (SELECT _rowid_ FROM "df" WHERE ("8-digit OPE ID for institution" = "00217800")), 1, 2, 3, 4, 5)
0                                                0.4

In [91]:
q('''
ESTIMATE SIMILARITY TO ("8-digit OPE ID for institution" = "00217800")
WITH RESPECT TO "TUITIONFEE_PROG"
FROM %g WHERE ("8-digit OPE ID for institution" = "00215500")''')

BQL [
ESTIMATE SIMILARITY TO ("8-digit OPE ID for institution" = "00217800")
WITH RESPECT TO "TUITIONFEE_PROG"
FROM "df_cc" WHERE ("8-digit OPE ID for institution" = "00215500")] [()]

   bql_row_similarity(1, NULL, _rowid_, (SELECT _rowid_ FROM "df" WHERE ("8-digit OPE ID for institution" = "00217800")), 4)
0                                                  0

In [92]:
q('''
ESTIMATE SIMILARITY TO ("8-digit OPE ID for institution" = "00217800")
WITH RESPECT TO "Admission rate for all campuses rolled up to the 6-digit OPE ID"
FROM %g WHERE ("8-digit OPE ID for institution" = "00215500")''')

BQL [
ESTIMATE SIMILARITY TO ("8-digit OPE ID for institution" = "00217800")
WITH RESPECT TO "Admission rate for all campuses rolled up to the 6-digit OPE ID"
FROM "df_cc" WHERE ("8-digit OPE ID for institution" = "00215500")] [()]

   bql_row_similarity(1, NULL, _rowid_, (SELECT _rowid_ FROM "df" WHERE ("8-digit OPE ID for institution" = "00217800")), 2)
0                                                0.5

In [102]:
DATA = pd.read_csv("Most+Recent+Cohorts+(All+Data+Elements).csv", delimiter=',', low_memory = False)

In [103]:
DATA

,UNITID,OPEID,opeid6,INSTNM,CITY,STABBR,ZIP,AccredAgency,INSTURL,NPCURL,...,PELL_YR8_N,NOPELL_YR8_N,LOAN_YR8_N,NOLOAN_YR8_N,FIRSTGEN_YR8_N,NOT1STGEN_YR8_N,REPAY_DT_MDN,SEPAR_DT_MDN,REPAY_DT_N,SEPAR_DT_N
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,galileo.aamu.edu/netpricecalculator/npcalc.htm,...,1089,247,1225,111,485,657,379852,379852,1788,2182
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,www.uab.edu,www.collegeportraits.org/AL/UAB/estimator/agree,...,1440,1010,2236,214,847,1365,379852,379852,3681,4495
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,tcc.noellevitz.com/(S(miwoihs5stz5cpyifh4nczu0...,...,99,46,PrivacySuppressed,PrivacySuppressed,70,57,19524,19467,266,406
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,626,392,934,84,303,619,379852,379852,1607,1934
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu/email/index.aspx,www.alasu.edu/cost-aid/forms/calculator/index....,...,1290,208,1394,104,565,678,379852,379852,2579,3176
5,100751,105100,1051,The University of Alabama,Tuscaloosa,AL,35487-0166,Southern Association of Colleges and Schools C...,www.ua.edu/,oira.ua.edu,...,1515,1238,2584,169,762,1816,379852,379852,7476,8294
6,100760,100700,1007,Central Alabama Community College,Alexander City,AL,35010,Southern Association of Colleges and Schools C...,www.cacc.edu,www.cacc.edu/graphics/netpricecalculator/npcal...,...,611,91,374,328,369,195,379852,19576,615,933
7,100812,100800,1008,Athens State University,Athens,AL,35611,Southern Association of Colleges and Schools C...,www.athens.edu,24.athens.edu/apex/prod8/f?p=174:1:39413574495...,...,487,231,627,91,368,282,379852,379852,1105,1498
8,100830,831000,8310,Auburn University at Montgomery,Montgomery,AL,36117-3596,Southern Association of Colleges and Schools C...,www.aum.edu,www.aum.edu/admissions/financial-information/p...,...,769,355,1017,107,418,556,379852,19569,1673,2075
9,100858,100900,1009,Auburn University,Auburn University,AL,36849,Southern Association of Colleges and Schools C...,www.auburn.edu,www.auburn.edu/admissions/money-matters.html,...,1186,1357,2430,113,566,1852,379852,379852,4230,4600
10,100937,101200,1012,Birmingham Southern College,Birmingham,AL,35254,Southern Association of Colleges and Schools C...,www.bsc.edu/,www.bsc.edu/fp/np-calculator.cfm,...,72,135,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,165,379852,379852,344,371
11,101028,1218200,12182,Chattahoochee Valley Community College,Phenix City,AL,36869,Southern Association of Colleges and Schools C...,www.cv.edu,external.cv.edu/npc/npcalc.htm,...,615,78,344,349,295,263,379852,379852,306,461
12,101073,1055400,10554,Concordia College Alabama,Selma,AL,36701,Southern Association of Colleges and Schools C...,www.ccal.edu/,www.ccal.edu/netprice/netprice/,...,332,0,23,309,146,118,19525,19342,481,621
13,101116,1303906,13039,South University-Montgomery,Montgomery,AL,36116,NaN,southuniversity.edu,tcc.noellevitz.com/edmc/Transfer-Students?ifra...,...,1122,572,1634,60,689,697,19559,19506,17505,24509
14,101143,101500,1015,Enterprise State Community College,Enterprise,AL,36330-1300,Southern Association of Colleges and Schools C...,www.escc.edu,www.escc.edu/NetPrice/npcalc.htm,...,482,63,197,348,224,236,379852,19578,477,711
15,101161,106000,1060,James H Faulkner State Community College,Bay Minette,AL,36507-2698,Southern Association of Colleges and Schools C...,www.faulknerstate.edu,www.faulknerstate.edu,...,814,261,677,398,481,467,379852,19485,1543,2224
16,101189,100300,1003,Faulkner University,Montgomery,AL,36109-3378,Southern Association of Colleges and Schools C...,www.faulkner.edu,www.faulkner.edu/netprice/,...,671,292,913,50,388,429,379852,379852,1395,1889
17,101240,101700,1017,Gadsden State Community College,Gadsden,AL,35903,Southern Association of Colleges and Schools C...,www.gadsdenstate.edu,www.gadsdenstate.edu/netpricecalculator/,...,1320,0,0,1320,622,473,NaN,NaN,0,0
18,101277,4187200,41872,New Beginning College of Cosmetology,Albertville,AL,35951,National Accrediting Commission of Career Arts...,www.nbccosmetology.com,www.nbccosmetology.com/npcalc.htm,...,NaN,NaN,NaN,NaN,NaN,NaN,19585,19565,46,116
19,101286,101800,1018,George C Wallace State Community College-Dothan,Dothan,AL,36303-9234,Southern Association of Colleges and Schools C...,www.wallace.edu,www.wallace.edu/net_price_calculator.aspx,...,984,0,0,984,457,340,NaN,NaN,0,0
20,101295,787100,7871,George C Wallace State Community College-Hance...,Hanceville,AL,35077-2000,Southern Association of Colleges and Schools C...,www.wallacestate.edu,www.wallacestate.edu/Financial-Aid/Net-Price-C...,...,1371,263,1007,627,913,555,379852,379852,1522,2174
21,101301,569900,5699,George C Wallace State Community College-Selma,Selma,AL,36703-2808,Southern Association of Colleges and Schools C...,www.wccs.edu,www.wccs.edu/index.php?page=npc.html,...,673,0,0,673,300,215,NaN,NaN,0,0
22,101365,962107,9621,Herzing University-Birmingham,Birmingham,AL,35209,NaN,www.herzing.edu/birmingham,www.herzing.edu/financial-aid/net-price-calcul...,...,509,261,743,27,340,298,19598,19528,5254,7909
23,101435,101900,1019,Huntingdon College,Montgomery,AL,36106-2148,Southern Association of Colleges and Schools C...,www.huntingdon.edu,hawk.huntingdon.edu/oiac/netpricecalculator/np...,...,125,101,214,12,71,135,379852,379852,584,714
24,101453,2199700,21997,Heritage Christian University,Florence,AL,35630-9977,Association for Biblical Higher Education Comm...,www.hcu.edu,www.hcu.edu/share/news/npcalc.htm,...,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,10,379852,PrivacySuppressed,20,26
25,101462,526000,5260,J F Drake State Community and Technical College,Huntsville,AL,35811,Southern Association of Colleges and Schools C...,www.drakestate.edu,www.drakestate.edu/admissions/net_price_calcul...,...,318,0,0,318,149,89,NaN,NaN,0,0
26,101480,102000,1020,Jacksonville State University,Jacksonville,AL,36265,Southern Association of Colleges and Schools C...,www.jsu.edu/,www.jsu.edu/finaid/,...,1146,485,1478,153,643,826,379852,379852,2823,3397
27,101499,102100,1021,Jefferson Davis Community College,Brewton,AL,36426,Southern Association of Colleges and Schools C...,www.jdcc.edu,www.jdcc.edu/netpricecalculator/,...,358,0,0,358,179,111,NaN,NaN,0,0
28,101505,102200,1022,Jefferson State Community College,Birmingham,AL,35215-3098,Southern Association of Colleges and Schools C...,www.jeffstateonline.com,www.jeffstateonline.com/financial/tuition/net-...,...,1207,270,708,769,626,633,379852,19572,1976,2686
29,101514,101300,1013,John C Calhoun State Community College,Tanner,AL,35671,Southern Association of Colleges and Schools C...,www.calhoun.edu,calhoun.studentaidcalculator.com/,...,1495,327,1028,794,872,661,379852,19576,2632,3645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7774,482574,1072720,10727,DeVry University-Ohio,Columbus,OH,43209,NaN,www.devry.edu,www.devry.edu/financial-aid-tuition/financial-...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7775,482583,1072774,10727,DeVry University-Oklahoma,Oklahoma City,OK,73116,NaN,www.devry.edu,www.devry.edu/financial-aid-tuition/financial-...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7776,482592,1072749,10727,DeVry University-Oregon,Portland,OR,97225,NaN,www.devry.edu,www.devry.edu/financial-aid-tuition/financial-...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7777,482608,1072722,10727,DeVry University-Pennsylvania,Fort Washington,PA,19034,NaN,www.devry.edu,www.devry.edu/financial-aid-tuition/financial-...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7778,482617,1072780,10727,DeVry University-Tennessee,Memphis,TN,38119,NaN,www.devry.edu,www.devry.edu/financial-aid-tuition/financial-...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7779,482635,1072724,10727,DeVry University-Texas,Irving,TX,75063,NaN,www.devry.edu,www.devry.edu/financial-aid-tuition/financial-...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7780,482644,1072776,10727,DeVry University-Utah,Sandy,UT,84070,NaN,www.devry.edu,www.devry.edu/financial-aid-tuition/financial-...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7781,482653,1072725,10727,DeVry University-Virginia,Arlington,VA,22202,NaN,www.devry.edu,www.devry.edu/financial-aid-tuition/financial-...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7782,482662,1072723,10727,DeVry University-Washington,Federal Way,WA,98001,NaN,www.devry.edu,www.devry.edu/financial-aid-tuition/financial-...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7783,482671,1072739,10727,DeVry University-Wisconsin,Milwaukee,WI,53202,NaN,www.devry.edu,www.devry.edu/financial-aid-tuition/financial-...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7784,482680,158500,1585,University of North Georgia,Dahlonega,GA,30597,Southern Association of Colleges and Schools C...,www.ung.edu,ung.edu/financial-aid/net-calculator.php,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7785,482699,159200,1592,South Georgia State College,Douglas,GA,31533,Southern Association of Colleges and Schools C...,www.sgsc.edu,faculty.sgc.edu/price/NetPriceCalculator/npcal...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7786,482705,219900,2199,Northeastern University Global Network,Boston,MA,02115,New England Association of Schools and College...,www.northeastern.edu/globalnetwork,www.northeastern.edu/financialaid/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7787,482857,157100,1571,Georgia Military College-Distance Learning Cam...,Milledgeville,GA,31061,Southern Association of Colleges and Schools C...,www.gmc.cc.ga.us,www.gmc.cc.ga.us/page.php?page_id=1268&search=...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7788,48285701,157102,1571,Georgia Military College-Augusta Campus,Martinez,GA,30907,NaN,http://augusta.gmc.cc.ga.us/index.php,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7789,48285702,157103,1571,Georgia Military College-Fairburn Campus,Fairburn,GA,30213,NaN,http://fairburn.gmc.cc.ga.us/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7790,48285703,157107,1571,Georgia Military College-Columbus Campus,Columbus,GA,31909,NaN,http://columbus.gmc.cc.ga.us/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7791,48285704,157101,1571,Georgia Military College-Valdosta Campus,Valdosta,GA,31605,NaN,http://valdosta.gmc.cc.ga.us/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7792,48285705,157105,1571,Georgia Military College-Warner Robins Campus,Warner Robins,GA,31093,NaN,http://robins.gmc.cc.ga.us/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7793,48285706,157100,1571,Georgia Military College-Online,Milledgeville,GA,31061,NaN,http://online.gmc.cc.ga.us/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7794,48285707,157103,1571,Georgia Military College-Stone Mountain,Stone Mountain,GA,30083,NaN,http://fairburn.gmc.cc.ga.us/,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7795,482954,4051342,40513,Brown Mackie College-Dallas,Bedford,TX,76021,NaN,www.brownmackie.edu,tcc.noellevitz.com/(S(ktqxr3be4it4eohl0jd2meh3...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7796,482963,2106605,21066,American Institute-Toms River,Toms River,NJ,08755,NaN,www.americaninstitute.edu/,www.americaninstitute.com/NPC/clifton/netprice...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7797,482990,3115001,31150,Arizona College-Mesa,Mesa,AZ,85201,NaN,www.arizonacollege.edu,www.arizonacollege.edu/net-price-calculator/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7798,483009,3144402,31444,American College of Healthcare,Huntington Park,CA,90255,NaN,www.ach.edu,www.ach.edu,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7799,483045,576300,5763,Central Georgia Technical College,Warner Robins,GA,31088,Southern Association of Colleges and Schools C...,www.centralgatech.edu,www.centralgatech.edu/general/financial_servic...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7800,483054,4224600,42246,Barber School of Pittsburgh,Pittsburgh,PA,15220,National Accrediting Commission of Career Arts...,barberschoolofpittsburgh.com,barberschoolofpittsburgh.com/public_html/netpr...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7801,483106,4218500,42185,The Salon Professional Academy-South Plainfield,South Plainfield,NJ,07080,National Accrediting Commission of Career Arts...,www.thesalonprofessionalacademynewjersey.com/,www.thesalonprofessionalacademynewjersey.com/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7802,483124,108159,1081,Arizona State University-Skysong,Scottsdale,AZ,85257,NaN,www.asu.edu/,students.asu.edu/costs,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7803,483212,4130100,41301,Louisiana Delta Community College,Monroe,LA,71203,Southern Association of Colleges and Schools C...,www.ladelta.edu,www.ladelta.edu/financialAid/netPriceCalculato...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
sim_1_var = q('''
ESTIMATE "INSTNM", SIMILARITY WITH RESPECT TO ("TUITIONFEE_PROG") as value
FROM PAIRWISE %g
ORDER BY value DESC 
''')

In [ ]:
sim_mit = q(''' 
ESTIMATE "INSTNM", SIMILARITY TO ("key" = "00217800") WITH RESPECT TO 
("Enrollment of undergraduate degree-seeking students",
                "Admission rate for all campuses rolled up to the 6-digit OPE ID", "Average family income",
                "TUITIONFEE_PROG","The median debt for dependent students") as value
FROM %g
ORDER BY value DESC ''')